.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
}

.item-card {
  margin: 2vw;
  border-radius: 5px;
  height: 40vh;
  width: 15vw;
  position: relative;
}

.item-card:hover {
  transform: scale(1.1);
}

.title {
  padding: .5vw;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* .heart {
  position: absolute;
  right:10px;
  top:10px;
  background-color: white;
  border-radius: 50%;
  width: 7vmin;
  height: 7vmin;
} */

