nav {
    background-color: #ffd166;
    padding: 10px;
    color: white;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
}
a { color: inherit;
text-decoration: none; } 

.logo{
    order:0;
}
