nav {
    background-color: white;
    padding: 10px;
    color: #4F4846;
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    width:100%
}
a { color: inherit;
text-decoration: none; } 

.logo{
    order:0;
}

.navBar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-left: 5vmin;
}

.navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5vmin;
}
